<%- include("header") -%>
<div class="box">
    <h1 id="heading">About this app</h1>
</div>
<div class="box">
    <p class="item">This app was developed by Hasan Tavlı in 2023 using NodeJS, Express and EJS following the Angela Yu Web Development Course.</p>
</div>
<%- include("footer") -%>